html {background-color: white;}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #931420;
	border-width: 3px;
	background-color: #fffded;
}
body section {
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

body aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

/* aside */
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}

/* article */
article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px;
	border-bottom: 2px;
	border-color: #800000;
	border-top-style: solid;
	border-bottom-style: solid;
}

article h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0px;
	margin-bottom: 0px;
}

article h2 {
	padding-top: 0px;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

article img {
	float: right;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	border: 1px solid black;
}

/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}
header h2 {
	font-size: 170%;
	color: #800000;
}
header {
	border-bottom-style: solid;
	border-color: #931420;
	border-width: 3px;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

/* the styles for the section */
main {
	clear: left;
}
main h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
}
main ul {
	padding-left: 1.25em;
	padding-bottom: .25em;
}
main li {
	padding-bottom: .35em;
}
main a:hover {
	font-style: italic;
}


#nav_menu ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	text-decoration: none;
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em 0;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul li ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	clear: both;
	content: "";
	display: block;
}

/* the styles for the footer */
footer p {
	text-align: center;
	color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
}
footer {
	clear: right;
	background-color: #931420
}
* {margin: 0; padding: 0;}